<div class="wrapper" *ngIf="!finish">
  <div>
    <span class="id">{{currentWord.id}}</span><span class="russian">. {{currentWord.russian}}</span></div>
  <div *ngIf='!wasAnswered; else fullWord'>{{currentWord.english | english:wordSuccesses}}</div>
  <ng-template #fullWord>
    <div>{{currentWord.english}}</div>
  </ng-template>
  <div class="input-wrapper">
    <input type="text"
           #answer
           (keyup.enter) = "onEnter(answer.value)"
           (keyup) = "onKeyUp()"
    ><span>  {{inputLength}}</span>
    <div class="buttons">
      <button *ngIf="!wasAnswered" (click)="checkWord(answer.value)">Check</button>
      <button *ngIf="wasAnswered" (click)="nextWord()">Next word</button>
    </div>
  </div>
  <div class="correct" *ngIf="correct">Correct!</div>
  <div class="mistake" *ngIf="mistake">Mistake :(</div>
</div>
<div *ngIf="finish" class="finish">Finish!</div>
<div *ngIf="mistake" class="frame">
  <iframe [src]="frameUrl"></iframe>
</div>
<div class="stats">
  <div>In progress - {{inProgress}}</div>
  <div>In queue - {{inQueue}}</div>
  <div>All answers - {{allAnswers}}</div>
  <div>Correct - {{correctAnswers}}</div>
  <div>Mistake - {{mistakeAnswers}}</div>
  <div>Word Status - {{wordStatus}}</div>
  <div>Word Successes - {{wordSuccesses}}</div>
</div>
