<!--<div class="wrapper">-->
  <!--<div>-->
    <!--<span class="id">{{currentWord.id}}</span><span class="russian">. {{currentWord.english}}</span></div>-->
  <!--<div class="buttons">-->
    <!--<button *ngIf="!wasAnswered" (click)="checkWord()">Check</button>-->
    <!--<button *ngIf="wasAnswered" (click)="nextWord()">Correct!</button>-->
    <!--<button *ngIf="wasAnswered" (click)="nextWord()">Incorrect!</button>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="correct" *ngIf="correct">Correct!</div>-->
<!--<div class="mistake" *ngIf="mistake">Mistake :(</div>-->
